* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#title {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 50px auto;
}

.jobs {
}

.job {
}
